.footer {
  background: linear-gradient(180deg, #112233 51.29%, #161b20 100%);
  color: #c3ced9;
  font-family: "Inter", sans-serif;
}

.footer-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
}

@media (max-width: 481px) {
  .footer-container {
    font-size: 0.75rem;
  }
}
