* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background: #f0f4f7;
}
.fonts {
  font-family: "IBM Plex Mono", monospace;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.titulo-h2 {
  color: #0055cc;
  font-size: 4rem;
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
}
