* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background: #f0f4f7;
  position: relative;
  overflow-x: hidden;
}
.fonts {
  font-family: "IBM Plex Mono", monospace;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.titulo-h2 {
  color: #0055cc;
  font-size: 4rem;
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
}

.divisor {
  display: block;
  width: 100%;
  max-width: 780px;
  height: 1px;
  background: #c3ced9;
  margin: 0 auto;
}

#btnTop {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #ee2200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
#btnTop:hover {
  opacity: 1;
}

.arrow {
  border: solid #f0f4f7;
  border-width: 0 7px 7px 0;
  padding: 5px;
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
  position: relative;
  bottom: -2px;
}

@media (max-width: 1024px) {
  .titulo-h2 {
    font-size: 3rem;
    margin-bottom: 16px;
  }
}
@media (max-width: 769px) {
  .divisor {
    max-width: 580px;
    margin: 32px auto;
  }
  #btnTop {
    bottom: 0px;
    right: -50px;
    opacity: 0;
  }
  #btnTop:hover {
    opacity: 0;
  }
}
@media (max-width: 481px) {
  .divisor {
    max-width: 380px;
  }
  .titulo-h2 {
    font-size: 2rem;
    margin-bottom: 8px;
  }
}
