.habilidades-h2 {
  text-align: end;
}

.habilidades {
  display: flex;
  padding-bottom: 64px;
}

.habilidades-img {
  align-self: center;
  opacity: 0.8;
}

.habilidades-conteudo {
  display: flex;
  margin: 0 auto;
  gap: 32px;
}

.habilidades-conteudo section {
  max-width: 600px;
  border-radius: 5px;
  padding: 32px;
  background: #112233;
  font-family: "Inter", sans-serif;
  display: grid;
  gap: 16px;
  box-shadow: 0px 4px 4px rgba(11, 13, 15, 0.25);
}

.habilidades-conteudo ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.habilidades-conteudo ul li {
  text-align: center;
  padding: 16px;
  background: #e4e8ed;
  box-shadow: 0px 4px 4px rgba(11, 13, 15, 0.08);
  border-radius: 5px;
  cursor: pointer;
}

.habilidades-conteudo ul li p {
  padding-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
}

.habilidades-conteudo h3,
.habilidade-conteudo-2 {
  color: #c3ced9;
}

.habilidades-conteudo h3 {
  padding-bottom: 16px;
  font-size: 1.5rem;
}

.habilidade-conteudo-1 {
  color: #ff9933;
  font-size: 0.875rem;
  padding-bottom: 8px;
  line-height: 1.5;
}

.tag-a {
  color: #c3ced9;
  transition: 0.3s;
  border-bottom: 1px solid #ff9933;
}
.tag-a:hover {
  color: #e4e8ed;
}
.habilidade-conteudo-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  font-size: 0.75rem;
  font-weight: 400;
}

.habilidade-conteudo-2 span {
  font-size: 0.75rem;
  font-weight: 400;
}

.habilidades-conteudo ul li,
.habilidades-conteudo ul li svg path {
  transition: 0.3s;
}

.habilidades-conteudo ul li:hover {
  background: #112233;
  color: #c3ced9;
  position: relative;
  box-shadow: 0px 4px 4px rgba(11, 13, 15, 0.25);
}

.habilidades-conteudo ul li:hover svg path {
  fill: #c3ced9;
}

.habilidades-conteudo ul li.ativo {
  background: #112233;
  color: #c3ced9;
  position: relative;
  box-shadow: 0px 4px 4px rgba(11, 13, 15, 0.25);
  animation: none;
}
.habilidades-conteudo ul li.ativo svg path {
  fill: #c3ced9;
}

.js .js-tabcontent section {
  display: none;
  margin-bottom: 10px;
}
.js-tabcontent section.ativo {
  display: block !important;
  animation: mostrar 0.8s forwards;
}
.js-tabmenu {
  align-self: flex-start;
}

@keyframes mostrar {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}
