.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 64px;
}

.cargo-dev,
.nome-dev,
.local-dev {
  font-family: "IBM Plex Mono", monospace;
  color: #0b0d0f;
}

.cargo-dev {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  max-width: 12ch;
}

.cargo-dev-1,
.cargo-dev-2 {
  color: #0033bb;
}

.cargo-dev-1::after {
  content: "";
  display: flex;
  width: 100%;
  max-width: 262px;
  height: 2px;
  background: #ff9933;
}

.nome-dev {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  font-weight: 500;
}

.local-dev {
  font-weight: 400;
  margin-top: 0.5rem;
}

@media (max-width: 1024px) {
  .cargo-dev {
    font-size: 2.5rem;
  }
  .intro {
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 769px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    margin-top: 32px;
  }
  .cargo-dev {
    max-width: 100%;
    display: block;
  }
  .intro-texto {
    text-align: center;
  }
  .cargo-dev-1::after {
    display: none;
  }
  .cargo-dev-1 {
    border-bottom: 3px solid #ff9933;
  }
  .cargo-dev-2 {
    display: block;
    padding-top: 8px;
  }
}
