.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 20px;
  max-width: 1280px;
}

.navegacao ul {
  display: flex;
  font-family: "Inter", sans-serif;
  align-items: center;
}

.navegacao ul li {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.navegacao ul li a {
  color: #0b0d0f;
  padding: 0.75rem;
  font-size: 1rem;
}

.navegacao ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #ff9933;
  transition: 0.3s;
}

.navegacao li a:hover::after {
  width: 100%;
}

.ponto-menu {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #0033bb;
}

#btn-mobile {
  display: none;
}
@media (max-width: 769px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    background: #e4e8ed;
    height: 0;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  .header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 28px;
    background: #e4e8ed;
  }

  #menu a {
    padding: 1rem 0;
  }
  #menu li {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0 20px;
  }

  #nav.active #menu {
    height: calc(100vh - 88px);
    overflow-y: auto;
    visibility: visible;
  }
  .ponto-menu {
    display: none;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    position: relative;
    top: 7px;
  }
  #hamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .img-logo {
    width: 160px;
  }
}
