.container-slide {
  overflow: hidden;
}

.slide {
  display: flex;
}

img {
  max-width: 100%;
  display: block;
}
.slide li {
  width: 80vw;
  max-width: 800px;
  flex-shrink: 0;
  margin: 0 20px;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

.portfolio-h2 {
  text-align: right;
  margin: 0;
}
/*
.portfolio {
  overflow: hidden;
  margin-bottom: 64px;
}

.portfolio-container-box {
  display: flex;
  gap: 32px;
  padding-top: 32px;
}

.portfolio-box {
  max-width: 300px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(11, 13, 15, 0.1);
  position: relative;
  transition: 0.3s;
}

.portfolio-box:hover {
  transform: translate3d(0, -10px, 0);
  box-shadow: 0px 6px 8px rgba(11, 13, 15, 0.4);
  background: red;
}

.portfolio-img img {
  border-radius: 5px;
}

conteúdo ----------------------
.portfolio-conteudo {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 5px 5px;
  height: 100%;
  background: rgba(11, 13, 15, 0);
}

.portfolio-conteudo h3 {
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  color: #c3ced9;
  padding: 16px;
  width: 100%;
  border-top: 5px solid #fc753f;
  background: rgba(11, 13, 15, 1);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.portfolio-conteudo h3::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/seta-cima.svg");
}

.portfolio-conteudo.ativo h3::after {
  background: url("../img/seta-baixo.svg");
}

.portfolio-conteudo-aberto {
  color: #c3ced9;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  border-radius: 5px 5px 0 0;
  background: rgba(11, 13, 15, 0.8);
  height: calc(100% - 52px);
  position: relative;
  z-index: 0;
  opacity: 0;
  animation: esconderConteudo 0.3s;
}

.portfolio-box:hover .portfolio-conteudo-aberto {
  animation: mostrarConteudo 0.3s forwards;
}

@keyframes mostrarConteudo {
  from {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes esconderConteudo {
  from {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
}

.portfolio-conteudo-aberto h4 {
  text-align: center;
  padding-top: 32px;
  color: #c3ced9;
  text-transform: uppercase;
}
ferramentas ------------------------------
.portfolio-container-ferramentas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 200px;
  gap: 16px;
  margin: 0 auto;
  margin-top: 16px;
}

.portfolio-ferramentas-box {
  display: grid;
  justify-items: center;
  gap: 8px;
  color: #c3ced9;
}
link ------------------------------
.portfolio-link {
  text-align: center;
  padding-top: 50px;
}

.portfolio-link a {
  transition: 0.3s;
  font-size: 0.875rem;
  color: #33bbff;
  padding: 8px 16px 0 16px;
  display: inline-block;
}

.portfolio-link a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #33bbff;
  transition: 0.3s;
}
.portfolio-link a:hover::after {
  background-color: #0055cc;
}

.portfolio-link a:hover {
  color: #0055cc;
}

.portfolio-link p {
  color: #ff9933;
  font-size: 0.75rem;
  margin-top: 4px;
}

.portfolio-ferramentas-box svg path {
  fill: #ff9933;
  opacity: 0.7;
} */
